
absl-py==2.1.0
aiohttp
aioitertools
aiosignal
alabaster
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt==4.2.0
beautifulsoup4
bidict==0.23.1
binaryornot
black
bleach
blinker==1.8.2
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi==2024.8.30
cffi
chardet
charset-normalizer==3.4.0
click
cloudpickle
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda_index
conda_package_streaming
constantly
contourpy==1.3.0
cookiecutter
cryptography
cssselect
cycler==0.12.1
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
dnspython==2.7.0
docstring-to-markdown
docutils
email_validator==2.2.0
entrypoints
et-xmlfile
executing
fastjsonschema
filelock
findspark==2.0.1
flake8
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==24.3.25
fonttools==4.54.1
frozendict
frozenlist
fsspec
gast==0.6.0
gensim
gitdb
GitPython
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.67.1
gunicorn==23.0.0
h11
h5py==3.12.1
HeapDict
holoviews
httpcore
httpx
huggingface-hub==0.26.2
hvplot
hyperlink
idna==3.10
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
